body{
  height:100%;
  width: 1440px;
  margin:0px;
  padding:0px;
}

button{
  width: 100px;
}

  ul{
  list-style: none;
}

li{
  list-style: none;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none; 
}

a{
  color: white;
  text-decoration: none;
}

label{
  font-size: 20px;
}

.header-name:active{
  color:white;
}
.header-name:focus{
  color:white;
}
.header-name:hover{
  color:white;
}
.header-name:visited{
  color:white;
}
.header-name{
  color:white;
  font-size: 20px;
}


.menu{
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

.main-head{
  z-index: 100;
  position: sticky;
  margin-bottom: 0px;
  background-color: #104da1;
  width: 100%;
  height:100px;
  left: -10px;
  top: -10px;
  color:white;
}

.logo{
  position: relative;
  top: 30px;
  left: 0px;
}

.logo-image{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.header-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
