.common-container{
display: flex;
}

  .user-photo{
  width:200px;
  height: 200px;
}

.myleft-side{
  border: 1px solid red;
  width: 50%;
}

.myright-side{
  display: flex;
  border: 1px solid green;
  width: 50%;
  justify-content: flex-end;
}

.sub-right{
  display: flex;
  flex-direction: column;
}

.show-movie{
  /*position: absolute;
  left :300px;*/
}

.bottom-divs{
  display:flex;
  position:absolute;
  top:450px;
  width: 100%;
}

.bottom-left{
width: 33%;
border: 1px solid black;
}

.bottom-middle{
  width:33%;
  border: 1px solid black;

}

.bottom-right{
width: 33%;
border: 1px solid black;
}
.right-part{
  position:relative;
  left:300px;
  top:-260px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    width: 400px;
}

.left-part{
  position:absolute;
  left: 750px;
  top: 135px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    width: 400px;

}

.left-words{
  font-size: 20px;
  width: 400px;
}
.right-words{
  font-size: 20px;
  width: 400px;
}

.left-words span{
  color: #ff6699;
}
.right-words span{
  color: #ff6699;
}

.movie-results{
  margin: 20px;
  margin-bottom: 40px;
}

.movie-url{
  color:#ff6699;
}
