button{
  width: 100px;
  }

  .all-users{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.user-pic{
  background-color: white;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  width: 250px;
  margin:30px;
}

.mini-bio{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.pic{
  display: flex;
  width: 250px;
}
.profile-pic{
  width: 250px;
  height:250px;
}

.age-name{
  display: flex;
  justify-content: space-around;
}

.verticle{
  border: 1px solid lightgrey;
  opacity: .5;
  height: 50px;
}

.movie-restaurant{
  display: flex;
  justify-content: space-around;
}

.search-users{
  text-align: center;
  left:500px;
}

.user-input{
  width: 300px;
}

.user-search-button{
  width: 100px;
}
