.search-header{
  text-align: center;
}

.hidden{
  display: none;
}

.displaySearch{
  width: 400px;
  height: 500px;
  margin: 20px;
}

.each-movie{
  margin-top: 50px;
}

.sign-out-button{
  position: absolute;
  left: 1200px;
}

.three-boxes{
  display: flex;
}

.each-place{
  display: flex;
}

.place-image{
  width: 70px;
  height:70px;
}


.each-genre{
  margin-top: 30px;
}

.image-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%
}

.h3-div{
  text-align: center;
}
.genre-li{
  border: 1px solid black;
  margin: 5px;
  width: 90px;
}

.under-header-div{
  display: flex;
}

.favorite-movies{
  width:33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-locations{
  width:33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
