/*html{
  background: linear-gradient(to bottom, silver ,white, beige, silver , white, beige, white ,silver);
  }*/

  .create-an-account{
  color: white;
  text-align: start;
  background: linear-gradient(to bottom, silver ,white, beige, silver , white, beige, white ,silver);
  background-image: url('../images/multi.jpg');
  background-size: 100% 100%;
  margin: 50px;
  height: 200%;
}

.login-header{
  text-align: center;
  font-size:30px;
}
.backhome{
  display: flex;
  position: absolute;
  border: 1px solid black;
  background: radial-gradient(white,silver,white,silver);
  font-size: 20px;
  top: 55px;
  left: 1120px;
  border-radius: 5px;
}
.side{
  text-align: left;
}

.everything{
  font-size: 20px;
  padding: 5px;
  color: white;
  height: 700px;
  width: 900px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #888888;
  opacity: .8;
}

.everything:hover{
  opacity: 1;
}

.left-and-right{
  display: flex;
}

.header-number2{
  text-align: center;
}

.new-info{
  width: 50%;
}
.new-li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.new-p{
  margin-right: 10px;
}
.input-new{
  border-radius: 5px;
  width: 150px;
  height: 15px;
}
