img{
  width: 20px;
  height: 20px;
}


.userAccount{
  padding-top: 0px;
  position: inherit;
  top:100px;

  }

  .backHome{
  position:absolute;
  left:1200px;
  top: 10px;
}

.about-li:hover{
  background-color: #f3f5f9;
}
.backHome-button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  margin-left: 20px;
}
.userHeader{
  width: 1450px !important;
  height: 200px;
  background-color: #2098d1;
  margin: 0px;
  border: 1px solid #f3f5f9;
  display: flex;
}

.bio{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  width:100%;
  text-align: center;
}

.bio-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.edit-logo{
  height: 20px;
  width:20px;
  border-radius: 5px;
}

.summary-div{
  height: 35px;
}
.summary-div:hover{
  background-color: #2098d1;

  border-radius: 5px;
}
.bio-header{
  text-align: center;
}

.bio-box-container{
  display: flex;
  width: 100%;
  justify-content: ;
}

.bio-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: center;
  border: 1px solid black;
  right: 200px;
  width: 140%;
}

.left-bio-box{
  border: 1px solid black;
  padding-right: 0px;
  margin-left: 0px;
}

.bio-input{
  width: 400px;
  height: 90px;
  background-color: #f3f5f9;
  font-size: 18px;
  padding-left:0;
  padding-top:0;
  padding-bottom:0.4em;
  padding-right: 0.4em;
}
.bio-button{
  width: 100px;
}
.bio-cancel-button{
  width: 100px;
}
.bio-h1{
  color:white;
}

.bio-info{
width: 800px;
text-align: center;
}

.pic-info{
  display: flex;
  justify-content: space-around;
}

.pic-name{
  width: 450px;
}


.helloUser{
  font-size: 40px;
  color: #f3f5f9;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.userContainer{
  display: flex;
  margin-bottom: 0px;
  padding-bottom:0px;
}
.userPhoto{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  position: relative;
  left: 0px;
}

.user-info{
  font-size: 20px;
  color: #00ffbf;
}

.aboutBox{
  padding-top: 0px;
  margin-top:0px;
  background-color: #2098d1;
}

.aboutBox-h1{
  text-align: center;
}

.about-form{
  display: flex;
  width: 1400px;
}
.about-li{
  margin:30px;
  font-size: 20px;
}

.accountURL{
  color:blue;
}

.extra-text{
  font-size: 20px;
}

.extra-text-box{
  opacity: .2;
  width: 500px;
  height: 100px;
}

.extra-text-box:active{
  opacity: 1;
  width: 500px;
  height: 100px;
}

.extra-text-box:focus{
  opacity: 1;
  width: 500px;
  height: 100px;
}

.goal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save-extra-button{
  width: 100px;
}

.each-about-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-category{
  margin-left: 70px;
}

.search-field{
  display: flex;
  justify-content: space-around;
}

.search-box{
  border-radius: 10px;;
  box-shadow: 0px 0px 1px;
  padding: 10px;
  width: 425px;
}

.search-input{
  width: 200px;
  border-radius: 5px;
}

.search-title{
  text-align: center;
}

.input-and-button{
  text-align: center;
}

.Search{
  /*position: absolute;*/
  z-index: 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  top: 200px;
  left: 600px;
}

.more-users-info{
  color: #00ffbf;
}

.email-city{
  width:250px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 5px;
}


.interesting p {
  font-size: 20px;
  width: 500px;
}

.interesting h2{
  padding-top:30px;
}

.edit-info-logo:hover{
  width:30px;
  height: 30px;
  transition: 1s;
}

.under-header{
  margin-top: 0px;
}

.email-p{
  padding:0px;
  margin:10px;
}

.about-event{
  display: flex;
  width: 1451px;
  justify-content: space-around;
}

.right-event-box{
  text-align: center;
}

.change{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}
.change-input{
  width: 400px;
  font-size:30px;
}

.change-submit{
  width:200px;
}

.change-cancel{
  width:200px;
}

.hidden{
  display: none;
}

.uploader{
  width: 300px;
}

.about-me-box{
  display: flex;
  justify-content: space-around;
}

.about-me{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-me p {
  /*padding-left: 33%;*/
  font-size: 20px;
}

.about-me h2{
  /*padding-left: 25%;*/
  font-size: 30px;
}

.about-me div h2{
  font-size: 20px;
  /*padding-left: 33%;*/
}

.about-left{
  width:1500px;
  text-align: center;
}

.about-right{
  width:1500px;
  text-align: center;
}
