

body {
  --main-color: brown;
}

.profile-container{
  justify-content: center;
  }


.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.profile-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #104da1;
}

.profile-bio{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
}
.profile-bio p {
  padding: 5px;
  margin: 5px;
}

.everything-else{
  width: 100%;
  display: flex;
  justify-content: center;

}

.profile-bio a{
  color: white;
}
.profile-bio a:visited{
  color: white;
}
.profile-bio a:hover{
  color: white;
}
.profile-bio a:focus{
  color: white;
}
.profile-bio a:active{
  color: white;
}

.message{
  left:500px;
  bottom:4px;
  font-size: 30px;
  color: white;
  background-color: #104da1;
  text-align: center;
  font-weight: 100;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  border: 1px solid black;
  width: 100% !important;
}

.center-div{
  align-self: center;
  width:602px;
  height:610px;
  border: 1px solid black;
  padding-left: 5px;
  margin-right: 10px;
}

.user-button{
  width:200px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  background-color: #104da1;
  border-radius: 3px;
}


.DM-comp{
  display: flex;
  position: fixed;
  top: 50%;
  left: 70%;
  flex:1;
  height: 400px;
  width: 300px;
}

.bar{
  /*display: none;*/
}
.action-buttons{
  display: flex;
}

.top-bio-sect{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2%;
}

.bottom-bio-sect{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-bio-sect div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}